    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        list-style: none;
        font-family: 'Nunito', sans-serif;
    }
    
    .box {
        width: 100%;
        height: 100vh;
        background-color: white;
    }
    
    body {
        background-color: #a5a5a5;
    }
    
    .main-content {
        min-height: 100vh;
        width: 80%;
        margin: 2rem auto;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
    }
    
    .left-section {
        grid-column: span 2;
        height: 100%;
        background-color: #1e1e1e;
        padding-bottom: 2rem;
    }
    
    .right-section {
        grid-column: span 5;
        background-color: #f7f7f7;
    }
    
    .left-content {
        padding: 1rem 3rem;
    }
    
    .profile {
        width: 100%;
        border-bottom: 1px solid #ca6e1d;
    }
    
    .image {
        width: 100%;
        text-align: center;
    }
    
    .profile img {
        width: 100%;
        border-radius: 50%;
        border: 8px solid #1a1a1a;
        background-color: #555555;
    }
    
    .name {
        font-size: 2rem;
        color: white;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 1px;
        padding: 1.2rem 0;
    }
    
    .career {
        font-size: 1.2rem;
        color: #dcdcdc;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 1px;
        padding-bottom: 1rem;
    }
    
    .main-title {
        font-size: 1.8rem;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: #f7f7f7ec;
        padding-top: 2rem;
    }
    
    .contact-info ul {
        padding-top: 2rem;
    }
    
    .contact-info ul li {
        padding: .4rem 0;
        display: flex;
        align-items: center;
        color: #f7f7f7;
    }
    
    .contact-info ul li i {
        padding-right: 1rem;
        font-size: 1.2rem;
        color: #ca6e1d;
    }
    
    .fa-phone {
        margin-left: 1.2px;
    }
    
    .phone-link {
        margin-left: 1.8px;
    }
    
    .fa-github {
        margin-left: 1.35px;
    }
    
    .fa-map-marker {
        margin-left: 4px;
    }
    
    .map-link {
        margin-left: 3.2px;
    }
    
    .contact-info a {
        text-decoration: none;
        color: #f7f7f7;
    }
    
    .contact-info a:hover {
        text-decoration: underline;
        color: #ca6e1d;
    }
    
    .skills-section ul {
        padding-top: 2rem;
    }
    
    .skills-section ul li {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: .4rem 0;
    }
    
    .progress-bar {
        width: 100%;
        height: .4rem;
        background-color: #382518;
        position: relative;
        border-radius: 12px;
    }
    
    .progress {
        height: 100%;
        position: absolute;
        left: 0;
        background-color: #ca6e1d;
        border-radius: 12px;
    }
    
    .js-progress {
        width: 70%;
    }
    
    .csharp-progress {
        width: 70%;
    }
    
    .dotnet-progress {
        width: 0;
    }
    
    .hc-progress {
        width: 80%;
    }
    
    .py-progress {
        width: 65%;
    }
    
    .dj-progress {
        width: 50%;
    }
    
    .java-progress {
        width: 40%;
    }
    
    .c-progress {
        width: 40%;
    }
    
    .ps-progress {
        width: 60%;
    }
    
    .il-progress {
        width: 55%;
    }
    
    .in-progress {
        width: 55%;
    }
    
    .skill-title {
        text-transform: uppercase;
        color: #f7f7f7;
        font-size: 1rem;
        position: relative;
        top: -7px;
    }
    
    .right-main-content {
        grid-column: span 7;
    }
    
    .right-title {
        color: #1e1e1e;
        letter-spacing: 1px;
        text-transform: uppercase;
        margin-bottom: 1rem;
        position: relative;
    }
    
    .right-title::after {
        content: "";
        position: absolute;
        width: 60%;
        height: .185rem;
        border-radius: 12px;
        background-color: #ca6e1d;
        right: 0;
        top: 45%;
        transform: translateY(-50%);
    }
    
    .para {
        line-height: 1.6rem;
        color: #666666;
        font-size: 1.1rem;
    }
    
    .sect {
        padding-bottom: 2rem;
    }
    
    .timeline {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    
    .tl-title {
        letter-spacing: 1px;
        font-size: 1.3rem;
        color: #ca6e1d;
    }
    
    .tl-title-2 {
        letter-spacing: 1px;
        font-size: 1.3rem;
        color: #1e1e1e;
    }
    
    .tl-title-2::before {
        content: "";
        position: absolute;
        width: .7rem;
        height: .7rem;
        background-color: #ca6e1d;
        border-radius: 50%;
        transform: translateX(-50%);
        left: 0;
    }
    
    .tl-content {
        border-left: 2px solid #ccc;
        padding-left: 2rem;
        position: relative;
        padding-bottom: 2rem;
    }
    /* Media Queries*/
    
    @media screen and (max-width:1350px) {
        .left-section {
            grid-column: span 3;
        }
        .right-section {
            grid-column: span 4;
        }
        .right-title::after {
            width: 40%;
        }
    }
    
    @media screen and (max-width:1450px) {
        .progress-bar {
            width: 100%
        }
        .left-content {
            padding-left: 2rem;
        }
    }
    
    @media screen and (max-width:1000px) {
        .main-content {
            grid-template-columns: repeat(1, 1fr);
        }
        .profile img {
            width: 40%;
        }
    }
    
    @media screen and (max-width:780px) {
        .timeline {
            grid-template-columns: repeat(1, 1fr);
        }
    }
    
    @media screen and (max-width:700px) {
        .profile img {
            width: 60%;
        }
        .main-content {
            margin: 0;
            width: 100%;
        }
        .sect {
            padding: 2rem;
        }
    }